<div class="note-container">
  <div>
    <button class="note-actions" *ngIf="isPageAreaDisabled" (click)="onEdit()">
      EDIT
    </button>
    <button class="note-actions" *ngIf="!isPageAreaDisabled" (click)="onSave()">
      SAVE
    </button>
    <button
      class="note-actions"
      *ngIf="!isPageAreaDisabled"
      (click)="onCancel()"
    >
      CANCEL
    </button>
    <span class="page-text">{{ pageNumber }}</span>
  </div>
  <div class="note-area">
    <textarea
      #pageArea
      name="pageArea"
      [(ngModel)]="pageData"
      placeholder="Click Edit to enter text..."
      [disabled]="isPageAreaDisabled"
    >
    </textarea>
  </div>
</div>
